TAPO_EMAIL = "TAPO_EMAIL"

TAPO_PASSWORD = "TAPO_PASSWORD"

TAPO_PLUG_IP = "TAPO_PLUG_IP"

OWM_API_KEY = "OWM_API_KEY"

OMW_LOCATION = "OMW_LOCATION"

# Check weather every 10 minutes
CONTROLLER_TIMEOUT = 60 * 10

TEMPERATURE_THRESHOLD = 5.0
